* {
    box-sizing: border-box;
}
body {
    font-family: 'Merriweather', serif;
}
header {
    background-color: #2c3944;
    color: white;
    text-transform: uppercase;
    text-align: center;
    padding: 30px;
}
.container {
    max-width: 90%;;
    margin: 0 auto;
}
h1 {
    margin: 0;
    font-size: 1.4rem;
}
h2,
legend,
label {
    color:#2c3944;
}
h2,
main p {
    text-align: center;
}
h2 {
    font-weight: 900;
    padding-top: 20px;
}
main p {
    color: #a3a3a3;
    border-bottom: 5px solid #2c3944;
    padding-bottom: 50px;
    margin: 0;
    font-size: 1.1rem;
}
fieldset {
    border: none;
    padding: 0;
    margin: 0;
}
form {
    margin-top: 4px;
    border-top: 3px solid #2c3944;
    padding-top: 30px;
}
legend {
    font-size: 1.5rem;
    font-weight: 900;
    margin-bottom: 10px;
}
label {
    display: block;
    margin: 25px 0 15px 0;
    color: #758a9c;
    font-size: 1.1rem;
}
input[type="text"],
input[type="email"],
input[type="tel"],
select {
    width: 100%;
    height: 60px;
    background-color: #eff1f1;
    border: none;
    border-radius: 5px;
}
::placeholder {
    text-align: right;
    font-style: italic;
    font-size: 0.9rem;
    color: #c4c4c4;
    position: relative;
    right: 20px;
}
select {
    text-indent: 20px;
}
/* The codes in between the comments are from
stackoverflow in order to make the <select>
placeholder 'Choose State' grey, AND turn to black when
any option is chosen. I tried so many ways without
having to use the 'required' attribute for <input>
but I can never get the desired effect.*/
select:required:invalid {
    color: #c4c4c4;
}
option[value=""][disabled] {
    display: none;
  }
option {
    color: black;
}
/**/
input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
select:focus {
    outline: none;
    border: 2px solid #45698b;
    text-indent: 20px;
}
input[type="checkbox"]:focus,
input[type="radio"]:focus {
    outline: 2px solid #45698b;
}
button:focus {
    outline: none;
    border: 2px solid #45698b;
}
input#zip {
    width: 50%;
    max-width: 200px;
    margin-bottom: 40px;
}
fieldset:first-child {
    border-bottom: 3px solid #2c3944;
}
fieldset:nth-child(2) legend {
    padding-top: 40px;
}
fieldset:nth-child(2) label {
    display: inline-block;
    line-height: 1.75rem;
    margin: 10px 0;
}
fieldset label.indent {
    margin-left: 10px;
}
textarea {
    width: 100%;
    height: 130px;
    background-color: #eff1f1;
    border: none;
    border-radius: 5px;
    padding: 5px;
}
textarea:focus {
    outline: none;
    border: 2px solid #45698b;
}
button {
    width: 100%;
    margin: 30px 0 15px 0;
    height: 80px;
    background-color: #4ebbb5;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 1.4rem;
}
button:hover {
    background-color: #47a19d;
    cursor: pointer;
}
button:active {
    box-shadow: inset 1px 1px 5px 2px #38706c;
    background-color: #47a19d;
}
footer p {
    text-align: center;
    margin-bottom: 200px;
    color: rgb(185, 185, 185);
}

/*---------- MEDIA QUERIES ----------*/

@media screen and (min-width: 768px) {
    .container {
        max-width: 50%;
    }
    .grid {
        display: grid;
        grid-template-columns: 1fr 1.75fr;
        row-gap: 10px;
    }
    input[type="text"],
    input[type="email"],
    input[type="tel"],
    select {
        height: 45px;
    }
    legend {
        margin-bottom: 30px;
    }
    label {
        margin: 15px 0 15px 0;
    }
}